# Node modules
*/node_modules/

# DB locali
*.db
*.sqlite
*.sqlite3

# Env, logs, OS
.env
*.log
.DS_Store

# intermedi screenshot
web/screenshots/resp_*.html
web/screenshots/shot_*.html
web/screenshots/build_wrappers.py
